$yoomoney: #7F2BFD;
$tinkoff: #FFE800;
$qiwi: #FF8200;
$rosbank: #E60027;

$usdt: #7AC5AE;
$btc: #F7931A;
$busd: #F9E3A1;
$bnb: #EFB90F;
$eth: #6285F5;
$rub: #3B99FB;
$shib: #C00804;

.soon {
  font-size: 16px;
  color: $rosbank;
}

.yoomoney {
 color: $yoomoney;
}

.tinkoff {
  color: $tinkoff;
}

.qiwi {
  color: $qiwi;
}

.rosbank {
  color: $rosbank;
}

.usdt {
  color: $usdt;
}

.btc {
  color: $btc;
}

.busd {
  color: $busd;
}

.bnb {
  color: $bnb;
}

.eth {
  color: $eth;
}

.rub {
  color: $rub;
}

.shib {
  color: $shib;
}